<!-- CONTENT START -->
<div class="page-content">
  <!-- INNER PAGE BANNER -->
  <div
    class="wt-bnr-inr overlay-wraper"
    style="background-image: url(images/banner/about-banner.jpg)"
  >
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
      <div class="wt-bnr-inr-entry">
        <h1 class="text-white"><center>Terms and Conditions</center></h1>
      </div>
    </div>
  </div>
  <!-- INNER PAGE BANNER END -->

  <!-- BREADCRUMB ROW -->
  <div class="bg-gray-light p-tb20">
    <div class="container">
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>Terms and Conditions</li>
      </ul>
    </div>
  </div>
  <!-- BREADCRUMB  ROW END -->

  <!-- ABOUT COMPANY SECTION START -->
  <div class="section-full p-tb100">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="section-head text-left">
            <h2 class="text-uppercase">&nbsp;</h2>
            <div class="wt-separator-outer">
              <div class="wt-separator bg-primary"></div>
            </div>
            <strong><%= res.locals.siteName %> WEBSITE TERMS OF USE.</strong>
            <p>
              Welcome to the <%= res.locals.siteName %> Please carefully read
              these Website Terms of Use (“Terms of Use”) and our Terms and
              Conditions before using our Site. By using our Site, you agree to
              follow and be bound by these Terms of Use and our Terms and
              Conditions.
            </p>
            <p>
              <strong>USE OF THIS SITE.</strong><br />
              <%= res.locals.siteName %> grants you, if you are at least 18
              years old (and have reached the age of majority in your state), a
              revocable, non-exclusive limited license to access and use this
              Site solely for the purposes of learning about <%=
              res.locals.siteName %> and its services. You may not copy or
              download any content from this Site for any public or commercial
              use or make any use of this Site other than the uses expressly
              provided for in this paragraph. <%= res.locals.siteName %>
              reserves the right, at its sole discretion, to change the Site and
              these Terms of Use at any time. Such changes shall become
              effective immediately upon the posting thereof. Please review the
              Terms of Use periodically and carefully. Your continued use of the
              Site following the posting of changes will constitute your
              acceptance of the revised Terms of Use.
            </p>
            <p>
              <strong>LIMITS ON USE OF SITE.</strong><br />
              You are not allowed to download, store, modify, frame or make any
              commercial or other use of the Site or any portion of it. You may
              not use any data mining, robots, spiders or other similar
              extraction tools to monitor or copy this Site. Any unauthorized
              use of the Site terminates your license to use the Site. Nothing
              contained on the Site should be construed as granting any license
              or right to use any trademarks, logos, graphics, images or content
              on the Site.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ABOUT COMPANY SECTION END -->
</div>
<!-- CONTENT END -->
